@inject ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthStateProvider
@attribute [Authorize(Roles = "staff, cashier, manager")]
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">FuelStation.Blazor</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="CustomerList">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Customer
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="EmployeeList">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Employee
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ItemList">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Item
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="MonthlyLedgerList">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Monthly Ledger
            </NavLink>
        </div>
        <div class="dropdown-divider"/>
        <div class="nav-item px-3">
            <AuthorizeView>
                <NotAuthorized>
                    <NavLink class="nav-link" href="Login">
                        <span class="oi oi-account-login" aria-hidden="true"></span> Login
                    </NavLink>
                </NotAuthorized>
                <Authorized>
                    <a class="nav-link" @onlick="Logout" style="cusrsor: pointer"/>
                        <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
                </Authorized>
            </AuthorizeView>
        </div>
    </nav>

</div>

@code {
    
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    private async void Logout(){
        await LocalStorage.RemoveItemAsync("username");
        await AuthStateProvider.GetAuthenticationStateAsync();
    }
}
